.body {
  background-color: #e9ebed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
.body section {
  height: 80%;
  width: 80vw;
  display: flex;
  position: sticky;
  padding: 5rem;
  /* min-width: 1000px; */
}
.body section div {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  height: 100%;
  /* width: 50%; */
  display: flex;
}
.body section .login-form {
  width: 60%;
  height: auto;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #1c2636;
  padding: 3rem;
  color: white;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.body section .login-form h1 {
  font-size: 2.3rem;
}
.body section .login-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}
.body section .login-form form input {
  width: 100%;
  padding: 0.7rem 1rem;
  border: 0px;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #b473d7;
  outline: none;
  /* border: 3px solid #b473d7; */
}
.body section .login-form form .inputPass {
  background-color: white;
  border-radius: 5px;
}
.body section .login-form form .avatar {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.body section .login-form form .avatar p {
  font-size: 1.2rem;
}
.body section .login-form form p {
  text-align: center;
  font-size: 1.2rem;
}
.body section .login-form form p .signInBtn {
  border: 0px;
  color: #b473d7;
  background-color: #1c2636;
  font-size: 1.2rem;
  cursor: pointer;
}
.body section div:nth-child(1) {
  width: 40%;
  height: auto;
  background-color: #b473d7;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: 0px;
  justify-content: center;
  align-items: center;
}
.body section .login-form form #submit-btn {
  background-color: #b473d7;
  color: white;
  cursor: pointer;
}
.body section div:nth-child(1) img {
  height: 60%;
}
@media (max-width: 1323px) {
  .body section .login-form form {
    width: 100%;
  }

  .body section {
    /* justify-content: center; */
    padding: 5rem 0rem;
  }
}
@media (max-width: 1200px) {
  .body section .login-form {
    width: 80%;
  }
}
@media (max-width: 1120px) {
  .body section {
    width: 90%;
  }
}
@media (max-width: 930px) {
  .body section .login-form {
    width: 90%;
  }
  .body section div:nth-child(1) {
    display: none;
  }
  .body section {
    justify-content: center;
    margin: 3rem 0rem;
  }
}
