.nav {
  display: flex;
  color: #b473d7;
  background-color: #3c4f7136;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
  z-index: 10;
  /* border: 1px solid white; */
}
.nav h1 {
  font-size: 3rem;
}

.nav span:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.HomeSidebar button {
  text-decoration: none;
  border: 0px;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.7rem;
  color: #b473d7;
  background-color: #3c4f7100;
}
.HomeSidebar button:hover {
  transition: 0.2s;
  background-color: #b473d7;
  color: #3c4f71;
}
.HomeSidebar {
  /* margin-top: 12vh; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding-top: 12vh;
  z-index: 55;
  width: 20vw;
  height: 100vh;
  transition: all 0.5s;
  position: absolute;
  position: fixed;
  left: -100%;
  display: flex;
  flex-direction: column;
  background-color: #232932db;
  min-width: 176px;
}

.HomeSidebar h1 {
  border: 2px solid;
}

.hamMenu {
  cursor: pointer;
}

.sidebarActive {
  left: 0;
}

.links {
  display: none;
}
@media (max-width: 700px) {
  .HomeSidebar {
    width: 50vw;
  }
}
